<div style=" width: 100%; display: grid; place-items: center; background: #be0a22; height: 100%; border-radius: 5px; overflow-x: auto;" id="prin">
   
    <div style=" width: 75%; background-color: white; height: auto; position: relative; border-radius: 40px; padding: 20px;" id="con">
        <h1><b>Esta sección es para poder hacer actualizaciones, o subir videos </b></h1>
        <div id="top">
            <button id="addMovie" (click)="addMovie()"><b> Aqui se puede Añadir peliculas</b></button>
            <div id="search">
                <input type="text" placeholder="Buscar Película">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #540317;"></i>
            </div>
        </div>
        <div id="list">
            <table>
                <thead>
                    <tr>
                        <td class="poster"></td>
                        <td class="title" style="justify-content: left;"><b>TITULO</b></td>
                        <td class="description"><b>DESCRIPCIÓN</b></td>
                        <td class="category"><b>CATEGORIA</b></td>
                        <td class="video"><b>LINK  DEL VIDEO</b></td>
                        <td class="actions"><b></b></td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let movie of movies | keyvalue">
                        <tr *ngIf="searchMovies(movie.value.title)">
                          <td class="poster">
                              <img [defaultImage]="movie.value.poster" [lazyLoad]="movie.value.poster" alt="">
                          </td>
                          <td class="title"><b>{{movie.value.title}}</b></td>
                          <td class="description"><p>{{movie.value.description}}</p></td>
                          <td class="category"><p>{{movie.value.category}}</p></td>
                          <td class="video"><p>{{movie.value.video}}</p></td>
                          <td class="actions">
                            <button (click)="sendId(movie.key)" style="color: rgb(40, 197, 40);"><i class="fa-solid fa-pencil"></i></button>
                            <span>editar</span>
                            <button (click)="deleteMovie(movie.key)" style="color: rgb(240, 35, 35);"><i class="fa-solid fa-trash"></i></button>
                            <span>eliminar</span>
                          </td>
                        </tr>
                      </ng-container>  
                </tbody>
            </table>
        </div>
    </div>
</div>