<div id="container">
    <div id="content">
      <div id="info">
        <div id="poster"><img [src]="movie?.poster" alt=""></div>
        <div id="description">
          <p><b>TITULO:</b><br> {{ movie?.title }}</p>
          <p><b>CATEGORIA: </b><br>{{movie?.category}}</p>
          <p><b>DESCRIPCION</b><br> {{ movie?.description }}</p>
        </div>
      </div>
    </div>
    <div id="video">
      <iframe *ngIf="safeVideoUrl" [src]="safeVideoUrl" frameborder="0" width="640" height="360" allowfullscreen></iframe>
      <br>
      <div id="sinopsis">
        <h3>Sinopsis: </h3>
        <p>{{movie?.description}}</p>
      </div>
    </div>
  </div>
    
    