<div id="ini" style="background-color: brown; display: flex; margin-bottom: 0 ; justify-content: center;
width: 100%;">
    <div id="llenar">
        <div class="container">
            <span id="close" (click)="close()"><i class="fa-solid fa-xmark fa-xl"></i></span>
            <h1><b>{{update != false? 'ACTUALIZA':  'NUEVA PELÍCULA'}}</b></h1>
            <div class="in">
                <input type="text" id="title" [(ngModel)] = "title" placeholder="Título">
                <i class="fa-solid fa-video fa-xl"></i>
            </div>
            <br>
            <div class="in">
                <input type="text" id="category" [(ngModel)] = "category" placeholder="Categoría">
                <i class="fa-solid fa-star fa-xl"></i>
            </div>
            <br>
            <div class="desc">
                <textarea name="" id="description" [(ngModel)] = "description" placeholder="Descripción"></textarea>
            </div>
            <br>
            <div class="in" style="margin-top: 5%;">
                <input type="text" id="poster" [(ngModel)] = "poster" placeholder="Poster">
                <i class="fa-solid fa-image fa-xl"></i>
            </div>
            <br>
            <div class="in">
                <input type="text" id="movie" [(ngModel)] = "video" placeholder="Link de video">
                <i class="fa-brands fa-youtube fa-xl"></i>
            </div>
            <br>
            <button id="submit" (click)="validForm()">{{update != false? 'Actualizar':  'Añadir'}}</button>
        </div>
    </div>
</div>
