<div style="display: flex; justify-content: center; width: 100%; 
    background-image: url('https://wallpapers.com/images/hd/fantastic-beasts-and-where-to-find-them-horizontal-poster-86utad5c6nr65k54.jpg' ); 
    background: rgb(1, 13, 31); background-size: cover; background-position: center;">
    <div id="form">
        <div class="container">
            <h1><b>NUEVA PELÍCULA</b></h1>
            <div class="in">
                <input type="text" id="title" [(ngModel)] = "title" placeholder="Título">
                <i class="fa-solid fa-video fa-xl"></i>
            </div>
            <br>
            <div class="in">
                <input type="text" id="category" [(ngModel)] = "category" placeholder="Categoría">
                <i class="fa-solid fa-star fa-xl"></i>
            </div>
            <br>
            <div class="desc">
                <textarea name="" id="description" [(ngModel)] = "description" placeholder="Descripción"></textarea>
            </div>
            <br>
            <div class="in" style="margin-top: 5%;">
                <input type="text" id="poster" [(ngModel)] = "poster" placeholder="Poster">
                <i class="fa-solid fa-image fa-xl"></i>
            </div>
            <br>
            <div class="in">
                <input type="text" id="movie" [(ngModel)] = "video" placeholder="Link de video">
                <i class="fa-brands fa-youtube fa-xl"></i>
            </div>
            <br>
            <button id="submit" (click)="validForm()">Add Movie</button>
        </div>
    </div>
</div>
