#nav {
    margin: 0;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease-in-out; 
    /*  una transición suave */
  }
  
.nagevation {
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    display: flex;
    /* Distribuye los elementos equitativamente */
    
    box-shadow: inset 0px 50px 45px rgba(168, 7, 74, 0.7);
    position: relative;
    z-index: 1;
    transition: background-color 0.5s ease-in-out; 
}
#head{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;
}
.nagevation a {
    margin: 0 5% 0 5%;
    padding-top: 0;
    display: inline-block;
    color: #f2f2f2;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.nagevation .icon {
  display: none;
}
  .nagevation a:hover {
    color: rgb(255, 60, 0);
  }
  
  .nagevation a.active {
    color: rgb(255, 196, 0);
  }
  
  @media screen and (max-width: 1000px) {
    #nav{
      height: auto;
    }
    .nagevation{
      display: block;
      box-shadow: inset 0px 50px 40px rgba(218, 162, 8, 0.842);
    }
    .nagevation a:not(:first-child) {
      display: none;
      padding-left: 45px;
    }
    .nagevation a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1000px) {
    
    .nagevation.responsive {
      position: relative;
      background: rgba(201, 50, 12, 0.8);
    }
    .nagevation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nagevation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #nav {
      text-align: left;
    }
  }
  
  .scrolled {
    background-color: rgba(185, 18, 6, 0.9); /* Cambia el fondo al desplazar */
    box-shadow: inset 0px 50px 35px rgba(219, 10, 10, 0.9); 
  }
  
  