<div id="password-reset" #closeReset>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="container">
        <h2>Recuperar Contraseña</h2>
        <div id="email">
            <input type="email" placeholder="Email" formControlName="email">
            <i class="fa-solid fa-envelope fa-lg"></i>
        </div>
        <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="controls">
        Por favor, ingresa un email válido.
        </div>
        <div id="button">
            <button type="submit" [disabled]="resetForm.invalid">Enviar Correo</button>
        </div>
    </form>
  </div>
  