#reset-password{
    display: grid;
    place-items: center;
    place-content: center;
    color: black;
    height: 100vh;
    z-index: -1;
}
#email{
    border-bottom: 2px solid rgb(82, 81, 81);
    width: 80%;
    margin-top: 5%;
    padding: 4px;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 35px;
    border-radius: 5px;
}
form{
    background: white;
    width: 400px;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 1px solid white;
}
span{
    position: relative;
    width: 100%;
    margin: 1%;
    padding: 1%;
    margin-right: 2%;
}
span i{
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 1%;
}
span i:hover{
    color: red;
    cursor: pointer;
}
input{
    width: 93%;
    background: rgba(1, 15, 36, 0);
    border: none;
    color: rgb(31, 30, 30);
    font-size: 1em;
    padding: 1%;
}
input::placeholder{
    color: gray;
}
input:focus {
    outline: none; /* Asegúrate de que no haya contorno */
    border: none; /* Asegúrate de que no haya borde */
    box-shadow: none; /* Asegúrate de que no haya sombra */
}
.controls{
    height: 0;
    width: 70%;
    color: red;
}
#button{
    margin-top: 12.5%;
    margin-bottom: 10%;
    width: 100%;
    display: grid;
    place-items: center;
}
#email:hover{
    border: 2px solid rgb(82, 81, 81);
    border-radius: 10px;
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.2);
}
#button button{
    height: 40px;
    width: 70%;
    border-radius: 30px;
    font-size: 1em;
}
#button button:hover{
    border: none;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
    cursor: pointer;
}
@media(max-width:550px){
    .container{
        width: 100%;
    }
    #reset-password{
        width: 100%;
    }
}