
<div id="dashboard">
    <h1 style="text-align: center;">Aquí estan los videos</h1>
    <div id="headMovies">
        <div id="search">
            <input type="text" placeholder="Buscar Película">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #068550;"></i>
        </div>
    </div>
    <div id="table">
        <div *ngFor="let movie of movies | keyvalue" id="content">
            <div class="poster">
                <img [src]="movie.value.poster" alt="">
            </div>
            <div class="info">
                <p><b>TITULO: </b>{{movie.value.title}}</p>
                <p><b>CATEGORIA: </b>{{movie.value.category}}</p>
                <p><b>DESCRIPCION: </b>{{movie.value.description}}</p>
                <p><b>VIDEO: </b>{{movie.value.video}}</p>
            </div>
        </div>
    </div>
</div>
