<body>

	<div class="main">
    <section>
      <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2Fi2Tp1nD151qU4YAAm8NcZ91gUkQ.jpg&w=256&q=75" alt="">
      <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2FuTETTVc9ghtGwKMvHpsJJMe46Xe.jpg&w=256&q=75" alt="">
      <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2F7xXJ15VEf7G9GdAuV1dO769yC73.jpg&w=256&q=75" alt="">
    </section>
    <div id="welcomeContent">
      <div id="welcome">
        <h1><b>¡Bienvenido a tus PELICULAS!</b> <br></h1>
        <h1 style="color: gray;">Disfruta de las PELICULAS.
        </h1>
        <br>
        <h1 style="color: white;">¡Haz clic, AQUÍ!</h1>
        <br>
      </div>
      <button (click)="redirect()"><b>Empezar</b></button>
      <section>
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2Fi2Tp1nD151qU4YAAm8NcZ91gUkQ.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2FuTETTVc9ghtGwKMvHpsJJMe46Xe.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2F7xXJ15VEf7G9GdAuV1dO769yC73.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2FqgcoPSP51XWN4i5KuXpkYM1fryn.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2Fniabu7iVMCier4vtIGMR5r5Xm1Y.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2F1ZMVKJoWK5KfxaQA8BwpfOEYKKy.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2Fd79DeKDCgFOM23O8Dr6MELZVooY.jpg&w=256&q=75" alt="">
        <img src="https://www.cuevana3.eu/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2F3JyIUavN6byTNKjWXupCCvRljRF.jpg&w=256&q=75" alt="">

      </section>
  </div>
	</div>
	
	
</body>