<body>

	<main>
		
    <div id="welcomeContent">
      <div id="welcome">
        <h1><b>¡Bienvenido a tus PELICULAS!</b> <br></h1>
        <h1 style="color: gray;">Tu destino definitivo para disfrutar del mejor cine.
                      Descubre una vasta colección de películas de todos los géneros, desde los
                        clásicos más queridos hasta los estrenos más recientes. Navega, selecciona
                        y sumérgete en una experiencia cinematográfica incomparable.
        </h1>
        <br>
        
        <h1 style="color: white;">¡Haz clic, AQUÍ!</h1>
        <br>
      </div>
      <button (click)="redirect()"><b>Empezar</b></button>
  </div>
	</main>
	
	
</body>