

#content{
    display: flex;
    width: 100%;
}
#m{
    width: 20%;
    background: rgba(0, 0, 0, 0);
    margin: 1%;
    box-shadow: 0 0 3px rgb(204, 22, 22);
}

app-dash-main{
    margin: 1%;
    position: relative;
    width: 78%;
    right: 0;
}
#men{
    width:0%; 
    height: 100vh; 
    position: fixed; 
    z-index: 1; 
    place-items: center;
    display: none;
}
#men i:hover{
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(201, 25, 25);
    padding: 7px;
    border-radius: 50px;
}

@media(max-width: 1000px){
    #men{
        display: grid;
        z-index: 2;
    }
    app-dash-main{
        width: 100%;
        margin: 0;
    }
    #m{
        display: none;
        width: 70%;
        z-index: 1;
    }
}