<div id="Footer">
    <div class="contenedor">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>COMPANÍA</h4>
                        <div class="ul">
                            <div class="li">
                                <a href="https://hq5.com.co/" target="_blank">
                                Acerca de nosotros
                                </a>
                            </div>
                            <div class="li">
                                <a href="https://hq5.com.co/oferta-laboral/" target="_blank">
                                    Oferta laboral
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>AYUDA</h4>
                        <div class="ul">
                            <div class="li">
                                <a href="https://hq5.com.co/politica-integral-de-gestion/" target="_blank">
                                política integral de gestión
                                </a>
                            </div>
                            <div class="li">
                                <a href="https://hq5.com.co/politica-de-privacidad-y-tratamiento-de-datos-personales-hq5-s-a-s/" target="_blank">
                                política de privacidad y <br> tratamiento de datos <br> personales
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>FOLLOW </h4>
                        <div class="social-links">
                            <div>
                                <a href="https://www.facebook.com/hq5sas/" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a href="https://twitter.com/HQ5SAS1" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/hq5_sas/" target="_blank"><i class="bi bi-instagram"></i></a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/company/hq5-sas/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.tiktok.com/@hq5_sas" target="_blank"><i class="bi bi-tiktok"></i></a>
                                <a href="https://web.whatsapp.com/send?phone=573009120781" target="_blank"><i class="bi bi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>CONTACTO</h4>
                        <div class="contact">
                            Rosa Mariana Torrez Quispe
                            <br>
                            Ci: 8631426
                            <br>
                            Ru: 109836
                        </div>
                    </div>
                    <div class="linea_divisora"></div>
                    <div class="copyright">
                        <div class="texrt_copyright">Todos los derechos reservados | 2024</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>