#content{
    display: flex;
    width: 100%;
    justify-content: center;
}
#m{
    width: 20%;
    background: rgba(0, 0, 0, 0);
    margin: 1%;
    box-shadow: 0 0 3px rgb(230, 14, 14);
}

app-dash-crud{
    margin: 1%;
    position: relative;
    width: 78%;
    right: 0;
}
#men{
    width:0%; 
    height: 100vh; 
    position: fixed; 
    z-index: 1; 
    place-items: center;
    display: none;
}
#men i:hover{
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(255, 127, 197);
    padding: 7px;
    border-radius: 50px;
}

@media(max-width: 1000px){
    #men{
        display: grid;
        z-index: 2;
    }
    app-dash-crud{
        width: 100%;
        padding: 0;
    }
    #m{
        display: none;
        width: 70%;
        z-index: 1;
    }
}