<div id="nav" #nav>
    <div id="menu" #myDiv>
        <div id="logo">
                <b>ESTO ES PARA EL ADMINISTRADOR</b>
        </div>
        <div id="home" class="dash">
            <b>CASA</b>
            <div><a href="/dashboard"><i class="fa-solid fa-chart-line fa-lg"></i>ADMINISTRADOR</a></div>
        </div>
        <div id="crud" class="dash">
            <b>CRUD PARA LOS VIDEOS</b>
            <div><a href="/crud"><i class="fa-solid fa-video fa-lg"></i>PELICULAS</a></div>
            <div><a href=""><i class="fa-solid fa-users fa-lg"></i>  USUARIO</a></div>
        </div>
        <div id="autentication" class="dash">
            <b>AUTENTIFICACION</b>
            <div><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>  
            ACCESO</a></div>
            <div><a href="/createAcount"><i class="fa-solid fa-registered fa-lg"></i>  REGISTRARTE</a></div>
        </div>
        <div id="back" class="dash">
            <b> PARA IR ATRAS</b>
            <div><a href="/home"><i class="fa-regular fa-circle-left fa-lg"></i>  VUELVE A HOME</a></div>
        </div>
    </div>
</div>