#acount{
    display: grid;
    place-content: center;
    color: rgb(185, 14, 14);
    background-color: rgb(22, 13, 1);
    height: 100vh;
}
.container{
    background: white;
    width: 490px;
    display: grid;
    place-items: center;
    border: 10px solid rgba(146, 113, 22, 0.76);
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    padding: 3% 0 5% 0;
}
.controls{
    height: 0;
    width: 70%;
    color: rgb(32, 27, 27);
}
h1{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.in{
    border-bottom: 5px solid rgb(31, 30, 30);
    width: 70%;
    margin-top: 10%;
    padding: 4px;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 35px;
    border-radius: 5px;
}
#name{
    margin-top: 7.5%;
}
input{
    width: 80%;
    background: rgba(1, 15, 36, 0);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding: 1%;
}
input::placeholder{
    color: rgb(209, 39, 39);
}
input:focus {
    outline: none; /* Asegúrate de que no haya contorno */
    border: none; /* Asegúrate de que no haya borde */
    box-shadow: none; /* Asegúrate de que no haya sombra */
}

#button{
    text-decoration: dotted;
    margin-top: 10%;
    width: 80%;
    display: grid;
    place-items: center;
}
.in:hover{
    border: 2px solid rgb(146, 16, 16);
    border-radius: 10px;
    transition: 0.2s;
    background: rgba(150, 165, 12, 0.247);
}
#button button{
    height: 40px;
    width: 70%;
    border-radius: 50px;
    font-size: 1em;
}
#button button:hover{
    border: none;
    box-shadow: 0 0 10px rgb(182, 121, 30);
    transition: 0.1s;
    cursor: pointer;
}
i{
    color: rgb(70, 1, 1);
}
@media (max-width: 700px){
    .container{
        width: 100%;
    }
    #create-acount{
        height: 10vh;
        display: flex;
        justify-content: center;
    }
}
