#login{
    display: grid;
    place-items: center;
    place-content: center;
    color: black;
    height: 100vh;
    z-index: -1;
    
    background-color: rgba(233, 3, 3, 0.466);
}
h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
i{
    color: rgb(180, 15, 43);
}
p{
    color: rgb(190, 4, 50);
    font-size: 1em;
    text-align: center;
}
.container{
    background: white;
    width: 500px;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 0 5px black;
}

span{
    
    height: 0;
    position: relative;
    width: 100%;
    margin: 1%;
    padding: 1%;
    margin-right: 2%;
}
span i{
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 1%;
}
span i:hover{
    color: red;
    cursor: pointer;
}
.controls{
    height: 0;
    width: 70%;
    color: rgba(255, 0, 0, 0.575);
}
#reset{
    position: fixed; 
    display: grid; 
    place-items: center; 
    z-index: 2;
}

#recoverPassword, #newUser{
    margin-top: 10%;
}

#recoverPassword p:hover{cursor: pointer;}

#email, #password{
    border-bottom: 2px solid rgb(82, 81, 81);
    width: 70%;
    margin-top: 7.5%;
    padding: 4px;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 35px;
    border-radius: 5px;
}
input{
    width: 93%;
    background: rgba(36, 1, 1, 0);
    border: none;
    color: rgb(31, 30, 30);
    font-size: 1em;
    padding: 1%;
}
input::placeholder{
    color: gray;
}
input:focus {
    outline: none; /* Asegúrate de que no haya contorno */
    border: none; /* Asegúrate de que no haya borde */
    box-shadow: none; /* Asegúrate de que no haya sombra */
}
#password{
    margin-top: 12.5%;
}

#button{
    margin-top: 2.5%;
    width: 100%;
    display: grid;
    place-items: center;
}
#email:hover, #password:hover{
    border: 2px solid rgb(82, 81, 81);
    border-radius: 10px;
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.2);
}
#button button{
    height: 40px;
    width: 70%;
    border-radius: 30px;
    font-size: 1em;
}
#button google{
    height: 40px;
    width: 70%;
    border-radius: 30px;
    font-size: 1em;
}
#button google:hover{
    border: none;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
    cursor: pointer;
}
#button button:hover{
    border: none;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
    cursor: pointer;
}
#newUser{
    margin: 2.5% 0 4% 0;
}
#reset{
    display: none;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 0 5px black;
    background-color: white;
}
#google{
    width: 70%;
    background-color: rgb(231, 22, 67);
    border: 1px solid rgb(119, 18, 18);
    margin-top: 7.5%;
    border-radius: 10px;
    height: 35px;
    color: rgb(46, 17, 17);
    display: grid;
    place-items: center;
    cursor: pointer;
}
#reset span{
    position: absolute;
}
@media (max-width: 600px){
    .container{
        width: 85%;
    }
    #login{
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    #reset{
        width: 75%;
    }
    app-reset-password{
        width: 100%;
    }
}
